//tunring off the header and footer

// .site-header{
//   display: none;
// }


.swiper{
  border: solid #ededed 24px;
}

.swiper-wrapper{
  height: 100vh;
}

.swiper{
  height: 100vh;
  .swiper-slide{
    height: 100vh;
    img{
      object-position: top;
      width: 100%;
      height: 94vh;
      object-fit: cover;
    }
  }
}
.swiper::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  
}

.hero-information{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  .hero-inner-container-info{
    display: flex;
    flex-direction: column;
    h1{
      color: #ffff;
      font-size: 7vw;
    }
    .inner-container-info-enter{
      display: flex;
      justify-content: center;
      a{
        text-align: center;
        color:  #ffff;
        padding: 0.5rem 1.5rem;
        border: solid;
        font-size: 3vw;
        transition: color 0.5s ease-in-out;
        transition: background-color 0.3s ease-in-out;
      }
      a:hover{
        background-color: #181818;
      }
      a:active{
        background-color: #979797;
      }
    }
  }
}

.hero-social-icons{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  z-index: 20;
  .hero-inner-container{
    display: flex;
    justify-content: center;
  }
}


.hero-inner-container{
  svg{
    g{
      transition: fill 0.1s ease-in-out;
    }
    }
}

.hero-inner-container{
  svg:hover{
   g{
     fill: #c3c3c3;
   }
    }
}


@media (min-width: 26rem){
  .hero-social-icons .hero-inner-container {
    svg{
      width: 3rem;
      height: 4rem;
    }
   
  }
}

