.horizontal-paintings{
  h2{
    margin-top: 5%;
    text-align: center;
  }
  .grid-item-precent-horizontal{
    .inner-images-grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5%;
      padding: 5%;
      margin-bottom: 50%;
    }
  }
}

.inner-item-precent-horizontal{
  height: fit-content;
  margin-bottom: 10%;

  img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

//vertical
.vertical-paintings{
  h2{
    text-align: center;
    margin-top: 5%;
  }
  .grid-item-precent-vertial{
    .inner-images-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5%;
      padding: 5%;
      margin-bottom: 12rem;
    }
  }
}

.inner-item-precent-vertical{
  overflow: hidden;
  height: fit-content;
  margin-bottom: 10%;

  img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.horizontal-paintings{
  .grid-item-precent-horizontal{
    .inner-images-grid.art-2020-precent{
      margin-bottom: 75%;
    }
    .inner-images-grid.art-2020-2022{
      margin-bottom: 30%; 
    }
    .inner-images-grid.art-2019-before{
      margin-bottom: 60%;
    }
  }
}

.vertical-paintings{
  .grid-item-precent-vertial{
    .inner-images-grid.art-2020-precent-vertical {
      margin-bottom: 25%;
    }
    
    .inner-images-grid.art-2020-2022-vertical {
      margin-bottom: 36%;
    }
    
    .inner-images-grid.art-2019-before-vertical{
      margin-bottom: 33%;
    }
  }

}






@media (max-width: 25rem){
  .horizontal-paintings{
    .grid-item-precent-horizontal{
      .inner-images-grid{
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
 
  .vertical-paintings{
    margin-top: 10%;
    .grid-item-precent-vertial{

      .inner-images-grid{
        grid-template-columns: repeat(1, 1fr);
      }
    }
    
  }
  .site-footer {
    text-align: -webkit-right;
    margin: 61% 0;
    grid-area: site;
    }
  
}
